
<div class="container pt-4">
    <div class="col-12 text-center">
        <h1 class="text-success text-center">Your vacation is confirmed!</h1>
        <p>You can view all order details in manage order section.</p>
        <img src="~/Images/orderConfirmed.jpg" style="border-radius: 20px" width="65%" class="shadow mb-5 bg-white rounded" />
    </div>
    <div class="col-12 text-center text-primary">
        <p class="pt-1">Pack your bags! You are on step closer to an amazing vacation!</p>
    </div>
</div>